# ==================== 服务器配置 ====================
HOST=0.0.0.0
PORT=5000
LOG_LEVEL=INFO

# ==================== 数据库配置 ====================
DB_DIALECT=mysql
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=media_crawler
DB_CHARSET=utf8mb4

# ==================== LLM API 配置 ====================

# Insight Agent
INSIGHT_ENGINE_API_KEY=
INSIGHT_ENGINE_BASE_URL=https://api.openai-proxy.org/v1
INSIGHT_ENGINE_MODEL_NAME=gpt-5.6-sol
INSIGHT_ENGINE_MODEL_PROVIDER=openai

# Media Agent
MEDIA_ENGINE_API_KEY=
MEDIA_ENGINE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MEDIA_ENGINE_MODEL_NAME=qwen-plus
MEDIA_ENGINE_MODEL_PROVIDER=openai

# Host Agent
HOST_API_KEY=
HOST_BASE_URL=https://api.moonshot.cn/v1
HOST_MODEL_NAME=kimi-k3
HOST_MODEL_PROVIDER=openai

# Report Engine
REPORT_ENGINE_API_KEY=
REPORT_ENGINE_BASE_URL=https://api.deepseek.com
REPORT_ENGINE_MODEL_NAME=deepseek-chat
REPORT_ENGINE_MODEL_PROVIDER=openai


# ==================== 网络搜索配置 ====================
ANSPIRE_API_KEY=sk-n01e2FjAK4KDdlt2uytj88PeJrJW50gB
ANSPIRE_BASE_URL=https://plugin.anspire.cn/api/ntsearch/search


# ==================== Insight vector retrieval ====================
INSIGHT_VECTOR_ENABLED=true
MILVUS_URI=tcp://192.168.200.155:19530
MILVUS_DB_NAME=default
MILVUS_INSIGHT_COLLECTION=insight_collection
INSIGHT_EMBEDDING_MODEL=D:\ai_models\modelscope_cache\models\BAAI\bge-m3
INSIGHT_SEMANTIC_ROUTING_MODEL=D:\ai_models\modelscope_cache\models\BAAI
INSIGHT_SEMANTIC_ROUTING_ENABLED=true
INSIGHT_EMBEDDING_DEVICE=cuda





